# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Plugin generated folders
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Build output
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# VS / Rider / editor junk
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vsconfig

# OS junk
.DS_Store
Thumbs.db

# Unreal built map data
*_BuiltData.uasset

# Common logs / temp
*.log
*.tmp